body {
  font-family: sans-serif;
  margin: 10px auto;
  max-width: 1280px;
}
#app {
  font-family: ObjectSans,Avenir,Helvetica,Arial,sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin: 10px;
}

#logo {
  margin: 10px;
  display:inline-block;
}

#logo img {
  max-width:250px;
  min-width:150px;
}
